@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*

  **** Index *****
1. Global Styles
2. Variables
3. Home Page Section
4.Trade Section
5.Call Us Section
6.Solar Kit Section
7.Replacement Section
8.Energy Section
9.Our Values Section
10. What They Say Section
11. Footer Section

Note: The Media Queries Of Any Section Is The Last Thing In The Section 
*/

/* Start Of Global Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  /* color-scheme: dark light; for dark mood */
}

button {
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

button:hover {
  opacity: 0.9;
}

img {
  display: block;
  max-width: 100%;
}

section {
  max-width: 100%;
}

/* End Of Global Styles */

/* Variables */
:root {
  --white-color: #ffffff;
  --header-color: #0b9586;
  --gray-color: #475467;
  --transition: 0.35s;
}

/* Start Of Home Page */

#home {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 5.3rem 1fr;
}

#home header {
  grid-area: 1 / 1 / 2 / 9;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9.3rem;
  z-index: 10;
  position: relative;
}

/* menu in small screens */
#home header .nav-links-small-screens {
  position: absolute;
  top: -220px;
  left: 0;
  width: 100%;
  height: 220px;
  background-color: var(--header-color);
  transition: var(--transition);
}

#home header .nav-links-small-screens nav {
  height: 100%;
}

#home header .nav-links-small-screens nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

#home header nav {
  flex: 1;
  padding: 0 0.8rem;
}

#home header nav ul {
  display: flex;
  justify-content: center;
  color: var(--white-color);
  font-weight: 300;
  font-size: 1.125rem;
  gap: 4rem;
}

#home header nav ul li a.active {
  position: relative;
  font-weight: 400;
  background-color: #0b9585d8;
  padding: 0.45rem 1.8rem;
  border-radius: 5px;
  text-shadow: 2px 2px 2px black;
}

#home header nav ul li a.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00000080;
  left: 0;
  top: 3px;
  border-radius: 5px;
  z-index: -1;
}

#home header .call-us {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
}

#home header .call-us span:first-child {
  text-align: end;
  font-size: 1.125rem;
}

#home header .call-us span:last-child {
  font-size: 1.5rem;
  font-weight: bold;
}

#home header .menu-icon {
  display: none;
  cursor: pointer;
  padding: 0 0.25rem;
}

#home .landing {
  grid-area: 2 / 1 / 3 / 9;
  background-image: url(../images/solar-panel.png);
  background-size: cover;
  background-position: center;
}

#home .landing .bar {
  position: relative;
  display: block;
  height: 3px;
  width: 20rem;
  background-color: #575757;
  margin: 5rem 13.4rem;
}

#home .landing .bar span {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: var(--white-color);
}

#home .landing .bar::after,
#home .landing .bar::before {
  position: absolute;
  font-size: 18px;
  color: var(--white-color);
  top: -9px;
}

#home .landing .bar::after {
  content: "01";
  left: -50px;
}

#home .landing .bar::before {
  content: "04";
  right: -50px;
}

#home .landing .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 6rem 10rem;
  color: var(--white-color);
  width: 54%;
  height: 27rem;
}

#home .landing .text h1 {
  font-size: 70px;
  font-weight: 500;
}

#home .landing .text p {
  width: 80%;
  font-size: 24px;
  font-weight: 500;
}

#home .landing .text .btn-box button {
  border-radius: 50px;
  height: 41px;
}

#home .landing .text .btn-box button:first-child {
  width: 173px;
  background-color: #3cab90;
  color: var(--white-color);
}

#home .landing .text .btn-box button:last-child {
  width: 208px;
  background-color: #ffbb1c;
  margin-left: 1.5rem;
}

@media (max-width: 1024px), (max-width: 991px) {
  #home header {
    padding: 0 2rem;
  }

  #home header .logo {
    width: 10rem;
  }

  #home header .logo img {
    width: 100%;
  }

  #home header nav ul {
    font-size: 1rem;
    gap: 1.2rem;
  }

  #home header .call-us span:last-child {
    font-size: 1rem;
  }

  #home .landing {
    padding: 4rem 0 0 0;
  }

  #home .landing .bar {
    width: 10rem;
  }

  #home .landing .bar {
    width: 20rem;
    margin: 2rem 9rem 0 9rem;
  }

  #home .landing .text {
    margin: 4rem 5rem;
    width: 75%;
    height: 20rem;
  }

  #home .landing .text h1 {
    font-size: 60px;
  }

  #home .landing .text p {
    width: 80%;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #home header nav.big-screens,
  #home header .call-us {
    display: none;
  }

  #home header .logo {
    width: 7rem;
  }

  #home header .menu-icon {
    display: block;
    color: var(--white-color);
    transition: 0.35s;
    z-index: 100;
  }

  #home header .menu-icon:hover {
    color: var(--gray-color);
  }

  #home header .menu-icon:hover ~ .nav-links-small-screens {
    top: 5.3rem; /* Slide down into view */
  }

  #home .landing .bar {
    width: 12rem;
    margin: 0rem auto;
  }

  #home .landing .text {
    margin: 4rem auto;
    width: 95%;
  }

  #home .landing .text h1 {
    font-size: 35px;
  }

  #home .landing .text p {
    width: 90%;
    font-size: 18px;
  }

  #home .landing .text .btn-box button:first-child {
    width: 150px;
  }

  #home .landing .text .btn-box button:last-child {
    width: 180px;
    margin-left: 1rem;
  }
}

@media (max-width: 360px) {
  #home .landing .text .btn-box button:first-child {
    width: 130px;
  }

  #home .landing .text .btn-box button:last-child {
    width: 160px;
  }
}
/* End Of Home Page */

/* Start Of Trade Page */

#trade {
  min-height: 80vh;
  max-width: 100vw;
  padding: 3rem 9.375rem 0rem;
  display: flex;
  align-items: center;
}

#trade article {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#trade article h2 {
  font-size: 60px;
}
#trade article p {
  color: var(--gray-color);
  font-size: 18px;
  margin: 3rem 0;
}

#trade ul li,
#trade ul li span {
  font-size: 20px;
  font-weight: 600;
}

#trade ul li {
  color: #101828;
  margin-bottom: 1rem;
}

#trade ul li span {
  color: #84bd3a;
  margin-right: 0.8rem;
}

#trade .images-box {
  flex-basis: 50%;
}

#trade .images-box img {
  position: relative;
  right: 0rem;
  top: 10%;
  max-width: 100%;
  float: right;
}

@media (max-width: 1024px) {
  #trade {
    padding: 5rem 9.375rem;
    flex-direction: column;
    text-align: left;
  }

  #trade article {
    flex: 1;
    justify-content: space-around;
  }

  #trade article P {
    margin: 0rem;
  }

  #trade .images-box img {
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    max-width: 100%;
    float: unset;
  }
}

@media (max-width: 991px) {
  #trade article h2 {
    font-size: 40px;
  }

  #trade article p {
    font-size: 16px;
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  #trade {
    padding: 2rem 1.5rem;
  }

  #trade .images-box img {
    width: 90%;
  }

  #trade article h2 {
    font-size: 25px;
  }

  #trade ul li,
  #trade ul li span {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

/* End Of Trade Page */

/* Start Of Call-Us Section */

#call-us {
  position: relative;
  min-height: fit-content;
  max-width: 100vw;
}

#call-us .img-box {
  width: 100%;
  max-height: 100%;
}

#call-us .img-box img {
  width: 100%;
}

#call-us .info {
  position: absolute;
  top: 30%;
  left: 9.3175rem;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}

#call-us .info h2 {
  font-size: 45px;
  font-weight: 500;
}

#call-us .info p {
  font-size: 25px;
  font-weight: 400;
}

#call-us .info button {
  width: 173px;
  height: 41px;
  border-radius: 50px;
  background-color: #ffbb1c;
  color: #000;
}

@media (max-width: 1024px) {
  #call-us .info {
    top: 20%;
    left: 3rem;
    width: 60%;
    gap: 2rem;
  }

  #call-us .info h2 {
    font-size: 20px;
  }

  #call-us .info p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  #call-us .info {
    left: 3rem;
    width: 60%;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  #call-us .info {
    top: 20%;
    left: 0;
    text-align: center;
    width: 100%;
    gap: 0.7rem;
  }

  #call-us .info h2 {
    font-size: 0.9rem;
  }

  #call-us .info p {
    font-size: 0.6rem;
  }

  #call-us .info button {
    width: 120px;
    height: 24px;
    font-size: 0.6rem;
    margin: 0 auto;
  }
}

@media (max-width: 350px) {
  #call-us .info {
    top: 4%;
    left: 1.5rem;
    width: 70%;
    gap: 0.6rem;
  }

  #call-us .info h2 {
    font-size: 0.8rem;
  }

  #call-us .info p {
    font-size: 0.6rem;
  }

  #call-us .info button {
    width: 110px;
    height: 22px;
    font-size: 0.6rem;
  }
}

/* End Of Call-Us Section */

/* Start Of Solar Kits Section */

.solar-kits {
  max-width: 100vw;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.solar-kits h2 {
  font-size: 42px;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.solar-kits .p-1 {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  width: 40%;
  margin-bottom: 1.5rem;
  text-align: center;
}

.solar-kits .solar-kits-examples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.solar-kits .solar-kits-examples .box {
  width: 100%;
  min-height: 490px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.solar-kits .solar-kits-examples .box img {
  width: 100%;
}

.solar-kits .solar-kits-examples .box h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.solar-kits .solar-kits-examples .box p {
  color: var(--gray-color);
  margin: 20px;
  line-height: 1.4;
}

.solar-kits .solar-kits-examples .box span {
  margin: 20px;
  color: #3cab90;
  font-weight: 500;
  cursor: pointer;
}

.solar-kits .solar-kits-examples .box span i {
  margin-left: 0.4rem;
}

@media (max-width: 991px) {
  .solar-kits h2 {
    margin-top: 2rem;
  }

  .solar-kits .p-1 {
    font-size: 14px;
    width: 100%;
    margin-bottom: 0.8rem;
  }
}

/* End Of Solar Kits Section */

/* Start Of Replacement Section*/

.replacement {
  max-width: 100vw;
  min-height: fit-content;
  position: relative;
}

.replacement .replacement-bg {
  width: 100%;
  max-height: 100%;
}

.replacement .replacement-bg img {
  width: 100%;
}

.replacement .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000083;
  color: var(--white-color);
  backdrop-filter: blur(12px);
  width: 53.625rem;
  height: 19.438rem;
  border-radius: 12px;
  text-align: center;
  padding: 0 1.2rem;
}

.replacement .text h2 {
  font-size: 42px;
  font-weight: 500;
  margin: 3rem 0;
}

.replacement .text p {
  font-size: 18px;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .replacement .text {
    width: 35rem;
    height: 14rem;
    padding: 0 2rem;
  }

  .replacement .text h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 1rem 0;
  }

  .replacement .text p {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .replacement .text {
    width: 22rem;
    height: 7.5rem;
    padding: 0 1rem;
  }

  .replacement .text h2 {
    font-size: 12px;
    font-weight: 400;
    margin: 1rem 0;
  }

  .replacement .text p {
    font-size: 8px;
    line-height: 1.4;
  }
}

/* End Of Replacement Section*/

/* Start Of Energy Section */

.energy {
  min-height: 100vh;
  background-color: #ffbb1c1e;
  display: flex;
  justify-content: center;
  padding: 2.5rem 20rem 5rem;
  gap: 2rem;
}

.energy .left-side {
  min-width: 360px;
  height: 233px;
  text-align: left;
  margin-top: 2rem;
}

.energy .left-side > * {
  margin-bottom: 2rem;
}

.energy .left-side h2 {
  font-size: 42px;
  width: 80%;
}

.energy .left-side p {
  font-size: 18px;
  color: var(--gray-color);
  line-height: 1.6;
  width: 80%;
}

.energy .right-side {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 1rem;
  gap: 2rem;
}

.energy .right-side .box {
  height: 410px;
  border: 2px solid #3cab8f88;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  padding: 0 2rem;
  background-color: #3cab8f10;
}

.energy .right-side .box:nth-child(3) {
  height: 365px;
}

.energy .right-side .box h3 {
  font-size: 20px;
}

.energy .right-side .box p {
  line-height: 1.5;
  color: var(--gray-color);
}

.energy .right-side .box span {
  cursor: pointer;
  color: #3cab90;
}

.energy .right-side .box span i {
  margin-left: 0.4rem;
}

@media (max-width: 1300px) {
  .energy {
    flex-direction: column;
    padding: 5rem 15rem;
    gap: 2rem;
  }

  .energy .left-side {
    margin-top: 0rem;
  }

  .energy .right-side {
    margin-top: 10rem;
    padding: 0;
  }

  .energy .right-side .box:nth-child(3) {
    height: 410px;
  }
}

@media (max-width: 991px) {
  .energy {
    padding: 2rem;
    gap: 2rem;
  }

  .energy .left-side {
    width: fit-content;
    height: 233px;
    align-self: center;
  }

  .energy .left-side h2 {
    font-size: 25px;
  }

  .energy .left-side p {
    font-size: 16px;
    color: var(--gray-color);
    line-height: 1.6;
  }

  .energy .right-side {
    margin-top: 2rem;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .energy {
    padding: 2rem 1rem;
    gap: 1rem;
  }

  .energy .left-side {
    width: fit-content;
    height: 150px;
    text-align: center;
  }
  .energy .left-side h2 {
    font-size: 1rem;
    width: 100%;
  }

  .energy .left-side p {
    font-size: 0.8rem;
    color: var(--gray-color);
    line-height: 1.6;
    width: 100%;
  }

  .energy .left-side > * {
    margin-bottom: 1rem;
  }

  .energy .left-side img {
    margin: 0 auto 1rem;
  }

  .energy .right-side {
    margin-top: 4rem;
  }
}

/* End Of Energy Section */

/* Start Of Our Values Section */

.our-values {
  margin-top: 2.5rem;
  max-width: 100vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.our-values h2 {
  font-size: 42px;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.our-values .p-1 {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  text-align: center;
}

.our-values .our-values-examples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
  width: 60%;
}

.our-values .our-values-examples .box {
  height: 420px;
  padding: 32px;
  background-color: #3cab8f0e;
  border-radius: 12px;
  border: 1px solid #3cab90;
}

.our-values .our-values-examples .box h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

.our-values .our-values-examples .box p {
  color: var(--gray-color);
  margin: 20px 0;
  line-height: 1.3;
}

@media (max-width: 991px) {
  .our-values {
    margin-top: 1.5rem;
  }

  .our-values h2 {
    margin-top: 2rem;
  }

  .our-values .p-1 {
    font-size: 14px;
    width: 100%;
    margin-bottom: 0.8rem;
  }
}

/* End Of Our Values Section */

/* Start Of What They Say Section */

.what-they-say {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  gap: 3rem;
  text-align: left;
}

.what-they-say .text {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 290px;
  width: 400px;
  justify-content: space-between;
}

.what-they-say .text h3 {
  font-size: 48px;
}

.what-they-say .text p {
  line-height: 1.5;
  color: #1c1c1c;
  font-size: 18px;
}

.what-they-say .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-color: #3cab8f11;
  border-radius: 24px;
  width: 708px;
  height: 443px;
}

.what-they-say .card .container-1,
.what-they-say .card .container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what-they-say .card .container-1 p {
  color: #3cab90;
  font-weight: 600;
  font-size: 16px;
}

.what-they-say .card .container-1 .dots {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.what-they-say .card .container-1 .dots span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.what-they-say .card .container-1 .dots span:first-child {
  background-color: #6b6b6b;
}

.what-they-say .card p {
  color: #101828;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  width: 80%;
}

.what-they-say .card .container-2 .user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.what-they-say .card .container-2 .user-info div h4 {
  margin-bottom: 0.25rem;
}

.what-they-say .card .container-2 .arrows {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.what-they-say .card .container-2 .arrows span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #1c1c1c;
  cursor: pointer;
  transition: var(--transition);
}

.what-they-say .card .container-2 .arrows span:hover {
  background-color: #3cab8f5a;
}

.what-they-say .card .container-2 .arrows span > i {
  font-size: 22px;
}

@media (max-width: 767px) {
  .what-they-say .card {
    padding: 25px;
    width: 650px;
    height: 400px;
  }

  .what-they-say .card p {
    font-size: 1.2rem;
    width: 100%;
  }

  .what-they-say .card .container-2 .user-info div {
    font-size: 0.7rem;
  }

  .what-they-say .card .container-2 .arrows span {
    width: 38px;
    height: 38px;
  }

  .what-they-say .card .container-2 .arrows span > i {
    font-size: 18px;
  }
}

/* End Of What They Say Section */

/* Start Of Footer Section */

footer {
  min-height: 35vh;
  background-color: #283646;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 150px;
  flex-wrap: wrap;
}
footer .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .up .links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  color: var(--white-color);
  font-weight: 300;
}

footer .up .links a {
  transition: var(--transition);
}

footer .up .links a:hover {
  color: #d2d1d1;
}

footer .up .subscibe {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

footer .up .subscibe span {
  color: var(--white-color);
  align-self: flex-start;
  font-weight: 300;
}

footer .up .subscibe input {
  background-color: #4d5156;
  border-radius: 109px;
  border: 1px solid #b3bdc7;
  outline: none;
  width: 406px;
  height: 48px;
  text-indent: 1.2rem;
  color: #b3bdc7;
}

footer .up .subscibe button {
  position: absolute;
  top: 28px;
  right: 0;
  width: 147px;
  height: 48px;
  border-radius: 109px;
  background-color: #ffbb1c;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 300;
}

footer hr {
  border: none;
  border-top: 1px solid #71777d;
}

footer .down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #92989f;
  font-size: 12px;
  line-height: 1.6;
}

footer .down .terms span a {
  transition: var(--transition);
}

footer .down .terms span a:hover {
  color: #b5bbc0;
}

footer .down .terms span:not(:first-child) {
  margin: 0 0.5rem;
}

@media (max-width: 991px) {
  footer {
    min-height: 20vh;
    padding: 0 5rem;
  }

  footer .up {
    display: flex;
    flex-direction: column;
  }

  footer .up .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  footer .up .links {
    margin-top: 1rem;
  }

  footer .up .subscibe {
    margin-bottom: 1rem;
  }

  footer .up .subscibe input {
    width: 350px;
    height: 48px;
  }

  footer .up .subscibe button {
    width: 130px;
  }

  footer .down {
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.6;
    gap: 0.7rem;
  }

  footer .down .terms span:not(:first-child) {
    margin: 0 0.4rem;
  }
}

@media (max-width: 768px) {
  footer {
    min-height: 25vh;
    padding: 0.5rem 0.5rem;
  }

  footer hr {
    margin: 0 0 1rem;
  }

  footer .up .subscibe {
    margin-bottom: 1rem;
  }

  footer .up .links {
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  footer .up .subscibe .label {
    align-self: center;
  }

  footer .up .subscibe input {
    width: 300px;
    height: 35px;
  }

  footer .up .subscibe button {
    width: 100px;
    height: 34px;
  }

  footer .down {
    text-align: center;
    justify-content: center;
    font-size: 10px;
    line-height: 1.4;
    gap: 0.5rem;
  }

  footer .down .terms span:not(:first-child) {
    margin: 0 0.25rem;
  }
}

/* End Of Footer Section */
